{% extends "base/base.html" %}

{% block content %}
<section class="desol-breadcrumb-section" style="background-image: url(/media/home/images/extras/career-destination-three.jpg);background-position: top center;">
    <div class="desol-breadcrumb-overlay" style="background-color: rgba(255, 255, 255, 0.3);"></div>
    <div class="container">
        <h1>Career Destination</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Career Destination</li>
            </ol>
        </nav>
    </div>
</section>
<section class="desol-section">
    <div class="container desol-career-destination-country">
        <h2>Select Your Career Destination</h2>
        <div class="row">
            <div class="col-md-4 desol-destination-country-card">
                <a href="{% url 'about_poland' %}" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/pl.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Poland</div>
                </a>
            </div>
            <div class="col-md-4 desol-destination-country-card">
                <a href="{% url 'about_lithuania' %}" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/lt.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Lithuania</div>
                </a>
            </div>
            <div class="col-md-4 desol-destination-country-card">
                <a href="{% url 'about_latvia' %}" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/lv.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Latvia</div>
                </a>
            </div>
            <div class="col-md-4 desol-destination-country-card">
                <a href="#" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/ee.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Estonia</div>
                </a>
            </div>
            <div class="col-md-4 desol-destination-country-card">
                <a href="#" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/rs.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Serbia</div>
                </a>
            </div>
            <div class="col-md-4 desol-destination-country-card">
                <a href="#" class="desol-country-card">
                    <div class="desol-country-image">
                        <img src="https://flagcdn.com/cz.svg" alt="desol-poland">
                    </div>
                    <div class="desol-country-name">Czech</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-content">
                <h2>WORK IN POLAND</h2>
                <p>Did you know that Poland is right in the middle of Europe? That means it's easy to travel around and explore different countries nearby. Poland has really good trains, buses, and trams, so you can get around easily.</p>
                <p>One of the best things about Poland is that it's not too expensive to live here. You can find affordable places to stay and eat delicious food without spending too much money</p>
                <p>And here's something cool: If you work in Poland for 2 years, you can get a permanent license to live here! And after living here for 5 years, you can even apply for a Polish passport.</p>
                <p>Poland is full of history, beautiful nature, and lots of people speak English. It's a great place to start your next adventure!</p>
                <p>Ready to make your mark in Poland? Discover career opportunities tailored to your aspirations and lifestyle, and take the first step towards a bright and promising future in this dynamic and welcoming country.</p>
                <a href="{% url 'about_poland' %}" class="desol-career-destination-button">About Poland</a>
            </div>
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/poland.webp" alt="desol-poland">
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/Lithuania-city-poster.jfif" alt="desol-lithuania">
            </div>
            <div class="desol-career-destination-content">
                <h2>STUDY OR WORK IN LITHUANIA</h2>
                <p>Lithuania is your ticket to a great life without breaking the bank. It's one of Europe's most affordable places to live, meaning you can enjoy a high quality of life without spending a fortune. From cheap rent to budget-friendly meals, your money goes a long way here. Renting a one-bedroom apartment in the city center typically ranges from €200 to €400 per month, while enjoying a delicious meal at a local restaurant can cost as little as €5.</p>
                <p>But Lithuania isn't just about saving money – it's also packed with history, charm, and natural beauty. With ancient castles, charming old towns, and stunning countryside, there's plenty to explore and enjoy.</p>
                <p>And here's a fun fact: Lithuania has some of the fastest internet in the world! Plus, basketball is a big deal here, so you'll fit right in if you're a fan.</p>
                <p>Ready to start your adventure in Lithuania? Discover study opportunities that fit your interests and goals, and get ready to experience all that this amazing country has to offer.</p>
                <a href="{% url 'about_lithuania' %}" class="desol-career-destination-button">About Lithuania</a>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-content">
                <h2>WORK IN LATVIA</h2>
                <p>Step into the charm and opportunity of Latvia, where every day is an adventure waiting to happen! Nestled in the Baltic region, Latvia offers a unique blend of opportunity and charm that's perfect for your next chapter.</p>
                <p>Discover the magic of Latvia's cost-effectiveness – your money goes further here than in many other European countries. Whether it's finding a cozy apartment or enjoying delightful local cafes, you'll experience a high standard of living without the hefty price tag.</p>
                <p>And here's the kicker: Latvia boasts one of the highest average salaries in the Baltic region! With a booming economy and abundant job opportunities, working in Latvia isn't just about making a living but thriving.</p>
                <p>Ready to dive into the excitement of Latvia? Explore career opportunities tailored to your interests and lifestyle, and take the leap towards a vibrant future in this welcoming and dynamic country.</p>
                <a href="{% url 'about_latvia' %}" class="desol-career-destination-button">About Latvia</a>
            </div>
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/Latvia.jpg" alt="desol-latvia">
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/estonia-city.avif" alt="desol-lithuania">
            </div>
            <div class="desol-career-destination-content">
                <h2>WORK IN ESTONIA</h2>
                <p>Welcome to Estonia, where value meets Nordic allure! Nestled in Northern Europe, Estonia beckons with its blend of modernity and natural splendor, setting the stage for your next grand adventure.</p>
                <p>Experience the unparalleled affordability of Estonia – your budget stretches further here than in many other European destinations. Whether it's finding chic apartments or indulging in delightful local eateries, Estonia offers a high quality of life without breaking the bank.</p>
                <p>But here's the real gem: Estonia is renowned as the world's first digital society! With cutting-edge technology and innovative solutions, Estonia provides a forward-thinking environment for both work and leisure.</p>
                <p>Ready to embark on your Estonian odyssey? Explore career opportunities tailored to your passions and lifestyle, and take the first step towards an exhilarating future in this dynamic and hospitable country.</p>
                <a href="#" class="desol-career-destination-button">About Estonia</a>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-content">
                <h2>WORK IN SERBIA</h2>
                <p>Welcome to Serbia, where opportunity meets warmth! Situated at the crossroads of Central and Southeast Europe, Serbia offers a unique blend of history, culture, and opportunity that's perfect for your next adventure.</p>
                <p>Experience the charm of Serbia's affordability firsthand – rent for a one-bedroom apartment in the city center typically ranges from $200 to $400 per month, while a meal at a local restaurant can cost as little as $5 to $10. With these reasonable prices, you'll enjoy a high standard of living without breaking the bank.</p>
                <p>And here's the best part: Serbia boasts a rich cultural heritage and warm hospitality. From exploring historic landmarks to sampling delicious local delicacies, Serbia offers a wealth of experiences waiting to be discovered.</p>
                <p>Ready to immerse yourself in the excitement of Serbia? Explore career opportunities tailored to your interests and lifestyle, and take the first step towards a fulfilling future in this welcoming and dynamic country.</p>
                <a href="#" class="desol-career-destination-button">About Serbia</a>
            </div>
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/serbia.avif" alt="desol-latvia">
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-career-destination-container">
            <div class="desol-career-destination-image">
                <img src="/media/home/images/country/czech.jfif" alt="desol-lithuania">
            </div>
            <div class="desol-career-destination-content">
                <h2>WORK IN CZECH</h2>
                <p>Located right in the middle of Europe, the Czech Republic is a special place to live. Its capital city, Prague, is in the west, so it's easy to travel around Europe from here.</p>
                <p>People here enjoy a really good life. It's not too expensive to live here compared to other European countries, which means you can have a nice life without spending too much money.</p>
                <p>The Czech Republic is also very safe. You don't have to worry much about crime here – it's one of the safest countries in Europe.</p>
                <p>If you're thinking about studying, you're in luck! Education is free, even at universities. And there are lots of programs taught in English, so you can study and enjoy life here without any language barriers.</p>
                <p><b>Ready to find a job in the Czech Republic? Talk to our team to get started!</b></p>
                <a href="#" class="desol-career-destination-button">About Czech</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="desol-services-bg desol-contact-us-form-section">
        <div class="container">
            {% include 'home/customer_form.html' %}
        </div>
    </div>
</section>
{% endblock content %}