{% extends "base/base.html" %}

{% block content %}
<section class="desol-breadcrumb-section" style="background-image: url(/media/home/images/extras/packages.jpg);background-position: top center;">
    <div class="desol-breadcrumb-overlay" style="background-color: rgba(0, 0, 0, 0.4);"></div>
    <div class="container">
        <h1 style="color:#fff;">Packages</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Packages</li>
            </ol>
        </nav>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-packages-section">
            <div class="desol-packages-title">
                <h4 class="text-center desol-services">CHOOSE YOUR PACKAGE</h4>
                <p class="text-center">To begin your journey, please pick the package that fits you best.</p>
            </div>
            <div class="desol-package-cards mt-5">
                <div class="row">
                    <div class="desol-package-card col-md-4 col-12 mb-3">
                        <div class="desol-card-image">
                            <img src="/media/home/images/country/poland.webp" width="100%" alt="">
                            <!-- <div class="desol-card-image-offer">
                                <img src="/media/home/images/illustrations/special-tag.png" alt="">
                            </div> -->
                        </div>
                        <div class="desol-card-header">
                                <div class="me-auto desol-card-title">
                                    Special Value Price <br>
                                    <span class="desol-special-offer">AED <span class="desol-special-offer" style="font-size: 30px;">6,129</span></span>
                                </div>
                                <div class="ms-auto desol-card-subtitle">
                                    Regular Price <br>
                                    <span class="text-decoration-line-through text-muted">AED 8,599</span>
                                </div>
                        </div>
                        <div class="desol-card-subheader">
                            <h5>Poland Package</h5>
                        </div>
                        <div class="desol-card-footer">
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Visa processing time up to 3 months
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Excellent visa ratio
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Permanent residency
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Passport after 5 years
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free accommodation & transportation
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free health insurance
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Flexible working hours
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Attractive salary on time
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Low cost of living
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Legal employment
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    No company ban
                                </div>
                            </div>
                            <div class="desol-card-button">
                                <a href="{% url 'contact_us' %}" class="text-center btn btn-danger col-12">APPLY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mb-3">
                        <div class="desol-card-image">
                            <img src="/media/home/images/country/Lithuania-city-poster.jfif" width="100%" alt="">
                        </div>
                        <div class="desol-card-header">
                            <div class="me-auto desol-card-title">
                                Special Value Price <br>
                                <span class="desol-special-offer">AED <span class="desol-special-offer" style="font-size: 30px;">7,239</span></span>
                            </div>
                            <div class="ms-auto desol-card-subtitle">
                                Regular Price <br>
                                <span class="text-decoration-line-through text-muted">AED 9,889</span>
                            </div>
                        </div>
                        <div class="desol-card-subheader">
                            <h5>Lithuania Package</h5>
                        </div>
                        <div class="desol-card-footer">
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Visa processing time up to 3 months
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Excellent visa ratio
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Permanent residency
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Passport after 5 years
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free accommodation & transportation
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free health insurance
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Flexible working hours
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Attractive salary on time
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Low cost of living
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Legal employment
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    No company ban
                                </div>
                            </div>

                            <div class="desol-card-button">
                                <a href="{% url 'contact_us' %}" class="text-center btn btn-danger col-12">APPLY NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mb-3">
                        <div class="desol-card-image">
                            <img src="/media/home/images/country/Latvia.jpg" width="100%" alt="">
                        </div>
                        <div class="desol-card-header">
                            <div class="me-auto desol-card-title">
                                Special Value Price <br>
                                <span class="desol-special-offer">AED <span class="desol-special-offer" style="font-size: 30px;">6,790</span></span>
                            </div>
                            <div class="ms-auto desol-card-subtitle">
                                Regular Price <br>
                                <span class="text-decoration-line-through text-muted">AED 8,399</span>
                            </div>
                        </div>
                        <div class="desol-card-subheader">
                            <h5>Latvia Package</h5>
                        </div>
                        <div class="desol-card-footer">
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Visa processing time up to 3 months
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Excellent visa ratio
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Permanent residency
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Passport after 5 years
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free accommodation & transportation
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Free health insurance
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Flexible working hours
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Attractive salary on time
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Low cost of living
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    Legal employment
                                </div>
                            </div>
                            <div class="d-flex desol-card-point">
                                <div class="text-success me-3">
                                    <span class="material-symbols-outlined">
                                        priority
                                    </span>
                                </div>
                                <div>
                                    No company ban
                                </div>
                            </div>

                            <div class="desol-card-button">
                                <a href="{% url 'contact_us' %}" class="text-center btn btn-danger col-12">APPLY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}