{% extends "base/base.html" %}

{% block content %}
<section class="desol-breadcrumb-section" style="background-image: url(/media/home/images/country/about-poland.jpg);background-position: center center;">
    <div class="desol-breadcrumb-overlay" style="background-color: rgba(0, 0, 0, 0.4);"></div>
    <div class="container">
        <h1 style="color:#fff;">Work in Poland</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'career_destination' %}">Career Destinations</a></li>
                <li class="breadcrumb-item active" aria-current="page">Work in Poland</li>
            </ol>
        </nav>
    </div>
</section>
<section class="desol-section">
    <div class="container desol-career-destination-country">
        <h2>Your Guide to Working and Living in Poland</h2>
        <p>Dreaming of a European adventure with exciting job opportunities and a budget-friendly lifestyle? Look no further than Poland!  This vibrant nation offers a thriving job market, competitive salaries, and a remarkably affordable cost of living. In this comprehensive guide, we'll explore why Poland is the ideal destination to launch your international career and build a fulfilling life abroad.</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="desol-country-short-background">
            <div class="desol-about-country">
                <div class="desol-about-country-content">
                    <h3>Poland's Booming Economy & Diverse Job Market:</h3>
                    <p>Poland boasts a dynamic economy experiencing steady growth, translating to a strong demand for skilled professionals. From tech hubs like Warsaw and Krakow to industrial powerhouses like Katowice and Gdansk, various cities offer exciting career prospects across numerous sectors:</p>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="desol-country-cards">
                                <div class="desol-card-items-inner">
                                    <div class="desol-card-items-icon">
                                        <img src="/media/home/images/illustrations/destinations/information-technology.png" alt="">
                                        <!-- <i class="bi bi-motherboard" style="color: #fff; font-size: 25px;"></i> -->
                                    </div>
                                    <div class="desol-card-items-content">
                                        <h4>Information Tech</h4>
                                        <p>Poland is a major IT hub in Europe, with a high concentration of IT companies and startups seeking skilled programmers, developers, and system analysts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="desol-country-cards">
                                <div class="desol-card-items-inner">
                                    <div class="desol-card-items-icon">
                                        <img src="/media/home/images/illustrations/destinations/engineers.png" alt="">
                                    </div>
                                    <div class="desol-card-items-content">
                                        <h4>Engineering</h4>
                                        <p>The country's strong manufacturing base fuels demand for engineers across various disciplines, including mechanical, electrical, and automotive engineering.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="desol-country-cards">
                                <div class="desol-card-items-inner">
                                    <div class="desol-card-items-icon">
                                        <img src="/media/home/images/illustrations/destinations/healthcare.png" alt="">
                                    </div>
                                    <div class="desol-card-items-content">
                                        <h4>Healthcare</h4>
                                        <p>With a modern healthcare system, Poland offers opportunities for doctors, nurses, and other healthcare professionals, especially those with multilingual skills.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="desol-country-cards">
                                <div class="desol-card-items-inner">
                                    <div class="desol-card-items-icon">
                                        <img src="/media/home/images/illustrations/destinations/factory.png" alt="">
                                    </div>
                                    <div class="desol-card-items-content">
                                        <h4>Manufacturing</h4>
                                        <p>A powerhouse in manufacturing, Poland seeks skilled professionals in various areas, such as production engineering, quality control, and logistics.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="desol-about-country-section" style="background-image: url(/media/home/images/bg/traveling-2.png);">
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3>Beyond the Numbers: <br>
                    <span>A Welcoming Environment for Expatriates:</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="desol-country-card-numbers">
                        <div class="desol-card-numbers-icon" style="background-color: #FE6C3F;">1</div>
                        <div class="desol-card-numbers-content">
                            <h4>Competitive Salaries & Affordable Living:</h4>
                            <p>Poland offers a compelling balance between income and expenses. The min wage ranges €600-€700 per month, while rent for a one-bedroom apartment in major cities starts around €300 to €500, allowing for a comfortable standard of living.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="desol-country-card-numbers">
                        <div class="desol-card-numbers-icon" style="background-color: #00CC99;">2</div>
                        <div class="desol-card-numbers-content">
                            <h4>English-Friendly Environment:</h4>
                            <p>Integrating into Polish life is made easier by the widespread use of English, particularly in business environments and major cities. This reduces language barriers and fosters a smoother transition for newcomers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="desol-country-card-numbers">
                        <div class="desol-card-numbers-icon" style="background-color: #0091FF;">3</div>
                        <div class="desol-card-numbers-content">
                            <h4>Family-Friendly Policies:</h4>
                            <p>Poland prioritizes families. Affordable childcare options and generous parental leave policies make it an attractive destination for families seeking a work-life balance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="desol-country-card-numbers">
                        <div class="desol-card-numbers-icon" style="background-color: #FFBD0F;">4</div>
                        <div class="desol-card-numbers-content">
                            <h4>Simplified Immigration Process:</h4>
                            <p>Desol Global can help navigate the streamlined immigration procedures for skilled workers, students, and entrepreneurs, ensuring a smooth relocation experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="desol-country-card-numbers">
                        <div class="desol-card-numbers-icon" style="background-color: #897CB5;">5</div>
                        <div class="desol-card-numbers-content">
                            <h4>Building a Future in Poland:</h4>
                            <p>After residing in Poland for a specified period, you may be eligible for permanent residency and even citizenship, offering long-term stability and the chance to call Poland home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="desol-country-short-background" style="background: rgba(247, 243, 255, 0.9);">
            <div class="desol-contact-us-lists" style="margin-right: 0; background-image: url(/media/home/images/bg/stamp.png);background-repeat: no-repeat; background-position: top right;">
                <ul class="desol-contact-us-list-display">
                    <li>Thriving job market across IT, engineering, healthcare, and manufacturing.</li>
                    <li>Competitive salaries and affordable cost of living ensure a comfortable lifestyle.</li>
                    <li>English widely spoken, easing integration for expatriates.</li>
                    <li>Modern healthcare system with accessible medical care for residents.</li>
                    <li>Streamlined immigration process for skilled professionals.</li>
                    <li>Opportunity for permanent residency and Polish citizenship.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <h5 style="font-size: 20px; font-weight: 500; text-align: center; letter-spacing: 0.6px; line-height: 30px;">Poland presents a remarkable opportunity to launch your international career and build a fulfilling life in Europe. With its welcoming environment, diverse opportunities, and attractive cost of living, Poland is the perfect springboard for your European dreams. Don't wait any longer!  Contact Desol Global today to explore how we can guide you through your Polish relocation journey.</h5>
    </div>
</section>

<section>
    <div class="container">
        <div class="desol-country-job-specification">
            <div class="desol-job-content">
                <h6>Construction workers</h6>
                <p>Salary approximately starts from 3,800 PLN/month, which is around 3,500 AED/month or 880 EUR/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Factory workers</h6>
                <p>Salary approximately starts from 2,800 PLN/month, which is around 2,900 AED/month or 650 EUR/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Transport drivers category C/CE</h6>
                <p>Salary approximately starts from 1,700 Eur/month, which is around 6,700 AED/month.</p>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-apply-now-button">
            <a href="#" class="apply-now-button">Apply Now</a>
            <p><b style="color: #000;">Note:</b> We do not offer employment agency services for individuals seeking jobs abroad. However, we do provide assistance to our corporate clients in recruiting workers for their own companies.</p>
        </div>
    </div>
</section>

<!-- contact us -->
<section>
    <div class="desol-services-bg desol-contact-us-form-section">
        <div class="container">
            {% include 'home/customer_form.html' %}
        </div>
    </div>
</section>
{% endblock content %}