{% extends "base/base.html" %}

{% block content %}
<section class="desol-breadcrumb-section" style="background-image: url(/media/home/images/country/about-lithuania.jpg);background-position: top center;">
    <div class="desol-breadcrumb-overlay" style="background-color: rgba(0, 0, 0, 0.4);"></div>
    <div class="container">
        <h1 style="color:#fff;">Work in Lithuania</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'career_destination' %}">Career Destinations</a></li>
                <li class="breadcrumb-item active" aria-current="page">Work in Lithuania</li>
            </ol>
        </nav>
    </div>
</section>
<section class="desol-section">
    <div class="container desol-career-destination-country">
        <h2>Live the Good Life in Lithuania: Your Gateway to Affordable Europe & Strong Jobs!</h2>
        <p><b>Ready to build a rewarding career and enjoy a comfortable life in Europe, without breaking the bank?</b> Look no further than Lithuania! This captivating Baltic nation offers a thriving job market for skilled blue-collar workers, a remarkably affordable cost of living, and a surprisingly easy path to living your European dream.</p>
    </div>
</section>

<div style="background-image: url(/media/home/images/bg/icon-object.webp); background-repeat: no-repeat;background-position: top left;object-fit: cover;">
<section>
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3>Beyond the Numbers: <br>
                    <span>A Welcoming Environment for Expatriates:</span>
                </h3>
            </div>
            <div class="desol-country-flex-two-section">
                <div class="desol-country-flex-image">
                    <img src="/media/home/images/extras/office-day.jpg" width="100%" alt="">
                </div>
                <div class="desol-country-flex-content desol-accordion-faqs">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                            Save Big, Live Large:
                            </button>
                          </h2>
                          <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Stretch your hard-earned cash further! Lithuania boasts a significantly lower cost of living compared to many Western European countries. Delicious meals can cost as low as €5, cozy apartments start around €300 per month, and affordable public transportation allows you to explore the country without burning a hole in your pocket. Imagine the savings and financial freedom you could enjoy!
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">High Demand, Great Pay:
                              </button>
                            </h2>
                            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                Lithuania's booming economy needs skilled workers in various sectors, offering exciting opportunities and competitive wages. Here are some in-demand blue-collar jobs you could be qualified for:
                                <ul>
                                    <li><b>Construction & Trades:</b> Builders, electricians, plumbers, and carpenters are crucial for Lithuania's ongoing infrastructure projects. These positions often come with benefits packages and opportunities for career advancement.</li>
                                    <li>
                                        <b>Manufacturing:</b> Be part of creating high-quality goods! Factories need skilled workers in areas like automotive, food production, and textiles. Many positions offer good salaries and a stable work environment.
                                    </li>
                                    <li>
                                        <b>Transportation & Logistics:</b> Keep the wheels of commerce turning! Truck drivers, warehouse workers, and logistics specialists are highly sought after, with competitive pay and chances for career growth.
                                    </li>
                                    <li>
                                        <b>Tourism & Hospitality:</b> Share Lithuania's beauty with the world! Hotels, restaurants, and tourist attractions seek friendly and welcoming staff. Many positions offer flexible hours and the chance to interact with people from all over the globe.
                                    </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">Easy Move, Smooth Transition:
                              </button>
                            </h2>
                            <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                Unlike some European countries, Lithuania has a good visa approval ratio for skilled workers, making it easier to obtain the necessary permits to work and live there. Desol Global can assist you with the entire immigration process, minimizing stress and ensuring a smooth transition. Plus, many younger Lithuanians speak English fluently, easing your integration into daily life.
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">Affordable Flights, Easy Connections:
                              </button>
                            </h2>
                            <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                Getting to and from Lithuania is a breeze! Numerous airlines offer cheap flights from major European hubs like London, Frankfurt, and Paris, making it easy to visit family and friends back home or explore other parts of Europe during your time off.
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-country-imagine-section">
            <h3>Imagine yourself:</h3>
            <div class="row">
                <div class="col-md-4 col-12 mb-3">
                    <div class="desol-services-card-two">
                        <div class="desol-services-icon">
                            <img src="/media/home/images/illustrations/career.png" alt="">
                        </div>
                        <div class="desol-services-title mt-2" style="font-size: 18px;">
                            Building a successful career in a beautiful European country with a lower cost of living.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12 mb-3">
                    <div class="desol-services-card-two">
                        <div class="desol-services-icon">
                            <img src="/media/home/images/illustrations/lifestyle.png" alt="">
                        </div>
                        <div class="desol-services-title mt-2" style="font-size: 18px;">
                            Saving money and enjoying a comfortable lifestyle with ample opportunities for recreation and travel.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="desol-services-card-two">
                        <div class="desol-services-icon">
                            <img src="/media/home/images/illustrations/europe.png" alt="">
                        </div>
                        <div class="desol-services-title mt-2" style="font-size: 18px;">
                            Living in a safe and welcoming environment with easy access to the rest of Europe.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<section>
    <div class="container">
        <h5 style="font-size: 20px; font-weight: 500; text-align: center; letter-spacing: 0.6px; line-height: 30px;"><b>Don't wait any longer!</b> Lithuania could be your gateway to a fulfilling European life. Contact Desol Global today to learn more about available jobs and how we can help you make your dream a reality!</h5>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-country-job-specification">
            <div class="desol-job-content">
                <h6>Construction workers</h6>
                <p>Salary approximately starts from 1,200 EUR /month, which is around 4,700 AED/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Factory workers</h6>
                <p>Salary approximately starts from 1,200 EUR /month, which is around 4,700 AED/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Transport drivers category C/CE</h6>
                <p>Salary approximately starts from 1,700 EUR/month, which is around 6,700 AED/month.</p>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-apply-now-button">
            <a href="#" class="apply-now-button">Apply Now</a>
            <p><b style="color: #000;">Note: </b>We do not offer employment agency services for individuals seeking jobs abroad. However, we do provide assistance to our corporate clients in recruiting workers for their own companies.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="desol-services-bg desol-contact-us-form-section">
        <div class="container">
            {% include 'home/customer_form.html' %}
        </div>
    </div>
</section>
{% endblock content %}