{% extends "base/base.html" %}

{% block content %}
<section class="desol-breadcrumb-section" style="background-image: url(/media/home/images/country/about-latvia.jpg);background-position: center center;">
    <div class="desol-breadcrumb-overlay" style="background-color: rgba(0, 0, 0, 0.4);"></div>
    <div class="container">
        <h1 style="color:#fff;">Work in Latvia</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'career_destination' %}">Career Destinations</a></li>
                <li class="breadcrumb-item active" aria-current="page">Work in Latvia</li>
            </ol>
        </nav>
    </div>
</section>
<section class="desol-section">
    <div class="container desol-career-destination-country">
        <h2>Unveiling Latvia: Your Gateway to a Secure, Affordable European Dream!</h2>
        <p>Dreaming of a fresh start in a safe and beautiful European country, but worried about the cost? Look no further than Latvia! This captivating Baltic nation offers a unique combination of affordability, exciting opportunities, and a warm welcome for newcomers. Here's why Latvia might be the perfect fit for you:</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3><span>Building a Brighter Future:</span>
                </h3>
            </div>
            <div class="desol-country-flex-two-section">
                <div class="desol-country-flex-image">
                    <img src="/media/home/images/extras/growth-1.jpg" width="100%" alt="">
                </div>
                <div class="desol-country-flex-content desol-accordion-faqs">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                            Thriving Economy & Job Market:
                            </button>
                          </h2>
                          <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Latvia boasts a dynamic economy with a growing demand for skilled workers. This translates to exciting job opportunities in various sectors like construction & trades, manufacturing & production, logistics & transportation, and tourism & hospitality. (See "Unique Skills in Demand" below for specific examples).
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">Affordable Living:
                              </button>
                            </h2>
                            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                Stretch your hard-earned money further! Latvia offers a significantly lower cost of living compared to many Western European countries. Delicious meals can be found for under €10, cozy apartments start around €250 per month, and a well-developed public transportation network allows you to explore the country without burning a hole in your pocket. Imagine the possibilities – weekend getaways to charming towns, exploring historical sites, and experiencing the beauty of the Baltic Sea, all without breaking the bank!
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">Simplified Immigration Process:
                              </button>
                            </h2>
                            <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                Unlike some European countries, Latvia has a streamlined immigration process for skilled workers. Desol Global can assist you with navigating the formalities, minimizing stress, and ensuring a smooth relocation experience. (Note: Regulations can change. It's advisable to consult with Desol Global or a Latvian immigration specialist for the most up-to-date information).
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3>Unique Skills in Demand: <br>
                    <span style="font-size: 25px;">Here are some exciting blue-collar opportunities you could be qualified for in Latvia:</span>
                </h3>
            </div>
            <div class="desol-country-flex-two-section">
                <div class="desol-country-flex-image">
                    <img src="/media/home/images/extras/top-skills-employers-look-for.webp" width="100%" alt="">
                </div>
                <div class="desol-country-flex-content desol-accordion-faqs">
                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            Construction & Trades:
                            </button>
                          </h2>
                          <div id="flush-collapse4" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">
                                With ongoing infrastructure projects and a booming construction industry, Latvia needs skilled builders, electricians, plumbers, and carpenters. These positions often come with benefits packages and opportunities for career advancement.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">Logistics & Transportation:
                              </button>
                            </h2>
                            <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                              <div class="accordion-body">
                                Keep the wheels of commerce turning! Truck drivers, warehouse workers, and logistics specialists are in high demand, offering competitive pay and a chance to be part of a global network.
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">Manufacturing & Production:
                              </button>
                            </h2>
                            <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                              <div class="accordion-body">
                                Be part of a thriving manufacturing sector! Skilled workers are needed in areas like food processing, wood products, and pharmaceuticals. Many positions offer stable work environments and opportunities for growth.
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">Tourism & Hospitality:
                              </button>
                            </h2>
                            <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                              <div class="accordion-body">
                                Share Latvia's beauty with the world! Hotels, restaurants, and tourist attractions seek friendly and welcoming staff. Many positions offer flexible hours and the chance to interact with people from across the globe.
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3><span>A Welcoming Environment:</span>
                </h3>
            </div>
            <div class="desol-country-flex-two-section">
                <div class="desol-country-flex-image">
                    <img src="/media/home/images/extras/welcome-attitude.jpg" width="100%" alt="">
                </div>
                <div class="desol-country-flex-content desol-accordion-faqs">
                    <div class="accordion accordion-flush" id="accordionFlushExample3">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                            Safety & Security:
                            </button>
                          </h2>
                          <div id="flush-collapse8" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample3">
                            <div class="accordion-body">
                                Latvia is a peaceful and safe country with a low crime rate. You can feel secure raising a family or building a new life here.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">Warm & Friendly People:
                              </button>
                            </h2>
                            <div id="flush-collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                              <div class="accordion-body">
                                Latvians are known for their hospitality and welcoming nature. Though the official language is Latvian, English is increasingly spoken by younger generations, especially in major cities, making daily life easier to navigate.
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">Rich Cultural Heritage:
                              </button>
                            </h2>
                            <div id="flush-collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                              <div class="accordion-body">
                                Immerse yourself in a vibrant culture steeped in tradition. From the awe-inspiring Song and Dance Festivals to unique folk art and historical sites, Latvia offers a captivating glimpse into its rich past.
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="desol-section">
    <div class="container">
        <div class="desol-about-country-two">
            <div class="desol-about-country-content-two">
                <h3>Beyond the Basics:<br>
                    <span>Fun Facts about Latvia</span>
                </h3>
            </div>
            <div class="desol-country-flex-two-section">
                <div class="desol-country-flex-image">
                    <img src="/media/home/images/extras/latvia-fun-facts.jpg" width="100%" alt="">
                </div>
                <div class="desol-country-flex-content desol-accordion-faqs">
                    <div class="accordion accordion-flush" id="accordionFlushExample4">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                                Land of Song and Forests:
                            </button>
                          </h2>
                          <div id="flush-collapse11" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample4">
                            <div class="accordion-body">
                                Over 50% of Latvia is covered in lush forests, perfect for nature lovers. The country is also known as the "Singing Nation" with a deep love for music and traditional song festivals.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">Amber Treasure:
                              </button>
                            </h2>
                            <div id="flush-collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                              <div class="accordion-body">
                                Latvia's stunning coastline along the Baltic Sea is famous for its amber deposits. Keep an eye out – you might discover a piece of golden amber washed ashore!
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">The Birthplace of Innovation:
                              </button>
                            </h2>
                            <div id="flush-collapse13" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample4">
                              <div class="accordion-body">
                                Believe it or not, jeans were invented by a Latvian tailor in the 17th century, and the world's first commercially successful subminiature camera, the Minox, originated in Riga in 1936.
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h5 style="font-size: 20px; font-weight: 500; text-align: center; letter-spacing: 0.6px; line-height: 30px;">Latvia offers a unique opportunity to build a secure and fulfilling life in Europe. With its affordable living, exciting job market, and welcoming environment, Latvia could be your gateway to a brighter future. Don't wait any longer! Contact Desol Global today to learn more about available jobs and how we can help you make your dream a reality!</h5>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-country-job-specification">
            <div class="desol-job-content">
                <h6>Construction workers</h6>
                <p>Salary approximately starts from 1,200 EUR /month, which is around 4,700 AED/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Factory workers</h6>
                <p>Salary approximately starts from 1,100 EUR /month, which is around 4,300 AED/month.</p>
            </div>
            <div class="desol-job-content">
                <h6>Transport drivers category C/CE</h6>
                <p>Salary approximately starts from 1,700 EUR/month, which is around 6,700 AED/month.</p>
            </div>
        </div>
    </div>
</section>

<section class="desol-section">
    <div class="container">
        <div class="desol-apply-now-button">
            <a href="#" class="apply-now-button">Apply Now</a>
            <p><b style="color: #000;">Note: </b>We do not offer employment agency services for individuals seeking jobs abroad. However, we do provide assistance to our corporate clients in recruiting workers for their own companies.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="desol-services-bg desol-contact-us-form-section">
        <div class="container">
          {% include 'home/customer_form.html' %}
        </div>
    </div>
</section>
{% endblock content %}